{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=Name>
        <dt>Description:
        <dd><textarea name=Description rows=5 cols=40></textarea>
        <dt>Category:
        <dd>
          <select name="Category">
            <option value="Homework">Homework</option>
            <option value="Project">Project</option>
            <option value="Lab">Lab</option>
            <option value="Discussion">Discussion</option>
          </select>

        <dd><input type=submit value="Help me!">
      </dl>
    </form>

  <form action="{{ url_for('general_delete') }}">
    <input type="submit" value="Delete">
  </form>
  <form action="{{ url_for('changemode', m = "Time") }}">
    <input type="submit" value="Sort By Time">
  </form>
  <form action="{{ url_for('changemode', m = "Category") }}">
    <input type="submit" value="Sort By Category">
  </form>

   <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.Name }}</h2>{{ entry.Description|safe }}
    <div align="right">{{ entry.Category|safe }}</div>

    {% if session.logged_in %}
<form action="{{ url_for('delete_student', entry_id = entry.id) }}">
        <input type="submit" value="Delete">
      </form>

      <script type=text/javascript>
        function popupPeerHelp()
        {
          var peer = prompt("Enter the name of the peer who helped you:");
          if (peer != null)
          {
            document.getElementById('peername').value = peer;
            alert("Good job" + peer);
            $("#peername").load("{{ url_for('helpedbystudent', entry_id = entry.id) }}");
          }
        }
      </script>

      <form action="/helpedbystudent/{{ entry.id }}/" method="post" align="right">
        <p>
          <input hidden id="peername" type="text" name="peername"></input>
        </p>
          <button id="peerhelped" onclick="popupPeerHelp()">Helped By Peer</button>
      </form>
    {% endif %}

  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

  {% else %}
    <ul class=entries>
  {% for entry in entries %}
    <form>
    <li><h2>{{ entry.Name }}</h2>{{ entry.Description|safe }}
    <div align="right">{{ entry.Category|safe }}</div>
    </form>

  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

  {% endif %}
{% endblock %}